menu "BLE Scan - OTA Updates"

config BLESCAN_OTA_FIRMWARE_URL
    string "firmware upgrade url"
    default "https://coertvonk.com/jvonk/blescan/blescan.bin"
    help
        URL of server that hosts the firmware image.
endmenu
