config.py
build/
sdkconfig/
.ipynb_checkpoints/
.idea/
ESP32_PACT/sdkconfig
ESP32_PACT/main/Kconfig.projbuild
.vscode/
__pycache__/
ESP32_BLE-Scan-Johan/factory/openocd.log
ESP32_BLE-Scan-Johan/factory/debug.log
ESP32_PACT/factory/debug.log
ESP32_PACT/factory/openocd.log
ESP32_PACT/factory/sdkconfig
