.ipynb_checkpoints/
.idea/
.vscode/
__pycache__/
config.py
build/
sdkconfig/
ESP32_PACT/sdkconfig
ESP32_PACT/main/Kconfig.projbuild
ESP32_PACT/factory/debug.log
ESP32_PACT/factory/openocd.log
ESP32_PACT/factory/sdkconfig
