# erase sdkconfig after changing this file, so it gets rebuild

menu "OTA Updates"

config OTA_FIRMWARE_URL
    string "firmware upgrade url endpoint"
    default "https://nas.vonk:444/embedded/blescan.bin"
    help
        URL of server which hosts the firmware
        image.

config OTA_RECV_TIMEOUT
    int "OTA Receive Timeout"
    default 5000
    help
        Maximum time for reception

endmenu
