menu "BLE Scan - OTA Updates"

config BLESCAN_OTA_FIRMWARE_URL
    string "firmware upgrade url"
    default "https://nas.vonk:444/embedded/blescan.bin"
    help
        URL of server that hosts the firmware image.
endmenu

config BLESCAN_OTA_RECV_TIMEOUT
    int "OTA Receive Timeout"
    default 5000
    help
        Maximum time for reception
